<h1>Stupid Coaching</h1>
<h3>Ask your coasch anything</h3>
<div class="question-form">
  <form action="answer">
    <input type="text" name='ask'>
    <input class="btn" type="submit" value="Ask!">
  </form>
</div>
